<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">

</head>

<body>

    <!--primera parte de la página con icono y mail-->
    <div class="container" id="app">
        <div class="row">
            <div class="col-10">
                <img src="fotos/tgif.jpg" alt="" height="180px" width="60%">
            </div>
            <div class="col-2">
                <img src="fotos/usCongress2.jpg" alt="" height="180px" width="100%">
            </div>

        </div>
        <!--navegación de la página-->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">


            <div class="menu container rounded">


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="home-page.html">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Congress 113
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="senate-data.html">Senate</a>
                                <a class="dropdown-item" href="house-data.html">House</a>

                            </div>
                            <li />
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Attendance
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="senate-attendance.html">Senate</a>
                                <a class="dropdown-item" href="house-attendance.html">House</a>

                            </div>
                            <li />
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Party Loyalty
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="senate-party-loyalty.html">Senate</a>
                                <a class="dropdown-item" href="house-party-loyalty.html">House</a>

                            </div>
                            <li />

                    </ul>
                    <a href="https://bootstrapemail.com" class="badge badge-light">Contact Us</a>


                </div>
            </div>

        </nav>



        <header>
            <div>
            </div>
        </header>
        <!--Table container-->
        <div>
            <div class="row">
                <div class="col-7 ">
                    <h2>Attendance</h2>
                    <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>

                    <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
                </div>
                <div class="col-5 ">
                    <h2>House at a Glance </h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Party</th>
                                <th>Number of Reps</th>
                                <th>% Voted with Prty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Republican</td>
                                <td id="numberRep">{{statistics.republicans}}</td>
                                <td id="%votesRep">{{statistics.promedioRep}}</td>
                            </tr>
                            <tr>
                                <td>Democrat</td>
                                <td id="numberDem">{{statistics.democrats}}</td>
                                <td id="%votesDem">{{statistics.promedioDem}}</td>
                            </tr>
                            <tr>
                                <td>Independent</td>
                                <td id="numberInd">{{statistics.independent}}</td>
                                <td id="%votesInd">{{statistics.promedioInd}}</td>
                            </tr>

                        </tbody>
                    </table>



                </div>



            </div>
            <div class="row">
                <div class="col-6 ">
                    <h3>Least Engaged (Bottom 10% Attendance)</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of Missed Votes</th>
                                <th>% Missed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="member in miembrosMenosAsistencia">
                                <td>{{member.first_name}}{{" "}}{{member.last_name}}</td>
                                <td>{{member.total_votes}}</td>
                                <td>{{member.missed_votes_pct}}</td>
                            </tr>

                        </tbody>>

                    </table>

                </div>


                <div class="col-6">
                    <h3>Most Engaged (Top 10% Attendance)</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of Missed Votes</th>
                                <th>% Missed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="member in miembrosMasAsistencia">
                                <td>{{member.first_name}}{{" "}}{{member.last_name}}</td>
                                <td>{{member.total_votes}}</td>
                                <td>{{member.missed_votes_pct}}</td>
                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>



        </div>
    </div>
    <!--footer-->
    <div class="row">
        <div class="col rounded menu">
            <p>2019 TGIF | All Rights Reserved</p>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--    <script src="pro-congress-113-house.js"></script>-->
    <script src="js/statistics.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
